<ion-header>
  <ion-toolbar>
    <ion-title>Personal Profile</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <img src="/assets/kuvaem.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Essi Rosalinda Marjoniemi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        27.10.1996 <br>
        Vantaa, Finland <br>
        BIT-student at Laurea University of Applied Sciences
<br>
<br>
        I like to do yoga and pilates, play video games and make art.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>