<ion-header>
  <ion-toolbar>
    <ion-title>
      Projects
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Personal Project</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Team Project</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
        

    </ion-card-content>
  </ion-card>
</ion-content>

  
