<ion-header>
  <ion-toolbar>
    <ion-title>
      Skills
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <img src="/assets/omapiirto.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Technical Skills</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        I use Adobe Photoshop daily to do edits and drawings for personal projects.
        I also have some experience with other Adobe programs, for example
        Animate, InDesign, Audition and Premiere.<br>
        I know the basics of Java, JavaScript and C++ programming. 
        I have done some simple mobile app designs and development with Ionic 3 framework.
        Samples of my projects can be found on github.com/essirosalinda. <br>
        Other technical skills are Excel, PowerPoint and other Microsoft Office Apps. 

      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/butterfly.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Soft Skills</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>My soft skills include but are not limited to:</p>
        <ul>
          <li>Creativity</li>
          <li>Responsibility</li>
          <li>Sensitivity</li>
          <li>Patience</li>
          <li>Listening</li>
          <li>Promblem solving</li>
          <li>Memory</li>
          <li>Calmness</li>
        </ul>  
        

    </ion-card-content>
  </ion-card>
</ion-content>

